<div>
  <h2>Auctions</h2>

  <ul class="list">
    <li *ngFor="let auction of auctions">
      <p>{{auction._id}}</p>
      <p>{{auction.name}} </p>
      <p>basePrice: {{auction.basePrice}}</p>
      <p>started: {{auction.createdAt |  date:'dd/MM/yyyy HH:mm:ss'}}</p>
      <p>deadline: {{auction.deadline |  date:'dd/MM/yyyy HH:mm:ss'}}</p>
      <div>
        <input #auctionBid type="number" />
        <select required #userId>
          <option>Pick a User</option>
          <option *ngFor="let user of users" value="{{user._id}}">{{user.name}}</option>
        </select>
      <button (click)="placeBid(auction._id,userId.value,auctionBid)">Place a bid</button>
      </div>
      

    </li>
  </ul>
<br><br>

<h2>Users</h2>

  <ul class="list">
    <li *ngFor="let user of users">
      {{user.name}} <br>
      <input #userBid id="{{user._id}}" type="number"/>
      <select required #auctionId>
        <option>Pick an Auction</option>
        <option *ngFor="let auction of auctions" value="{{auction._id}}">{{auction.name}}</option>
      </select>
    <button (click)="placeBid(auctionId.value,user._id,userBid)">Place a bid</button>

    </li>
  </ul>
  <button (click)="reload()" class="reloadButton">Reload</button>

  <div>
    <p>
      Highest Bid: {{infos?.highestBid?.amount}}
    </p>
    <p>
      Highest Bidder: {{infos?.highestBid?.user?.name}}
    </p>
    
    <p>
      Balance Time: {{infos?.highestBid?.time | date:'dd/MM/yyyy HH:mm:ss' }}
    </p> 

  </div>

  

</div>